.contact-form {
  max-width: 1000px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.contact-form .input-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.contact-form .input-box input {
  flex: 1 1 48%;
  padding: 1.2rem 1.5rem;
  font-size: 1.4rem;
  background: var(--second-bg-color);
  color: var(--text-color);
  border: 1px solid #444;
  border-radius: 0.8rem;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 99%;
  padding: 0.5rem;
  font-size: 1.4rem;
  background: var(--second-bg-color);
  color: var(--text-color);
  border: 1px solid #444;
  border-radius: 0.8rem;
  resize: none;
}
.contact-form textarea::placeholder {
  text-align: center;
  opacity: 0.6;
  display: block;
  line-height: 1.6;
  font-family: inherit;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 0.5px;
}
.contact-form .btn {
  margin-top: 1.5rem;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  background: var(--accentColor);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.contact-form .btn:hover {
  box-shadow: 0 0 20px 8px var(--accentColor);
  transform: translateY(-2px);
}


.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--accentColor);
  box-shadow: 0 0 5px var(--accentColor);
}



.contact-section {
  margin: auto;
  padding-bottom: 100px;
  margin-top: 100px;
}
.contact-section h3 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
}
.contact-flex h4 {
  font-weight: 500;
  margin: 0;
  opacity: 0.6;
}
.contact-box {
  display: flex;
  flex-direction: column;
}
.contact-flex p {
  margin-top: 10px;
  margin-bottom: 20px;
}
a.contact-social {
  font-size: 25px;
  border-bottom: 1px solid #ccc;
}
.contact-box h2 {
  font-weight: 400;
  font-size: 23px;
  margin: 0;
}
.contact-box h2 > span {
  color: var(--accentColor);
}
.contact-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  gap: 10px;
  opacity: 0.5;
}
@media only screen and (max-width: 1600px) {
  .contact-section h3 {
    font-size: 50px;
  }
  .contact-box h2 {
    font-size: 20px;
  }
  a.contact-social {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1300px) {
  .contact-section h3 {
    font-size: 40px;
  }
  .contact-box h2 {
    font-size: 18px;
  }
  a.contact-social {
    font-size: 20px;
  }
  .contact-flex p {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
    gap: 40px;
  }
  .contact-flex p {
    margin-bottom: 0px;
  }
  .contact-flex h4 {
    margin-top: 20px;
  }
  .contact-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .contact-container {
    width: calc(100% - 25px);
  }
}
